<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta th:include="fragments :: head-content"/>
</head>
<body>
<div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-3">
            <h4 class="text-center mb-3">Регистрация</h4>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/registration/create}" th:object="${registrationForm}" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="firstName">Имя</label>
                            <input th:field="*{firstName}" type="text" class="form-control" required="true">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lastName">Фамилия</label>
                            <input th:field="*{lastName}" type="text" class="form-control" required="true">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="age">Возраст</label>
                            <input th:field="*{age}" type="number" class="form-control" required="true" min="18" max="100">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sex">Пол</label>
                            <select th:field="*{sexType.id}" class="form-select" required="true">
                                <option value="" selected>Выберите из списка</option>
                                <option th:each="sexType : ${sexTypes}" th:value="${sexType.id}" th:text="${sexType.value}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="city">Город</label>
                            <input th:field="*{city}" type="text" class="form-control" required="true">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="interests">Интересы</label>
                            <textarea th:field="*{interests}" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="login">Логин</label>
                            <input th:field="*{login}" type="text" class="form-control" required="true" minlength="3" pattern=".*\S+.*">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Пароль</label>
                            <input th:field="*{password}" type="password" class="form-control" required="true" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать как минимум одну цифру, одну прописную и одну заглавную буквы, длиной не менее 8 символов.">
                        </div>
                        <div th:if="${error}" th:text="${error}" class="text-danger mb-3"></div>
                        <button type="submit" class="btn btn-primary w-100 mb-2">
                            <i class="bi bi-person-check"></i>
                            <span class="mx-1">Зарегистрироваться</span>
                        </button>
                        <a th:href="@{/login}" role="button" class="btn btn-dark w-100">
                            <i class="bi bi-box-arrow-in-left"></i>
                            <span class="mx-1">Отмена</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/registration.js}"></script>
</html>